# Get monthly average weather station data (Global)

Extract countries of interest (along with their coordinates) from the
[Global Historical Climatology Network - Monthly (GHCNM) Version 4](https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/global-historical-climatology-network-monthly-version-4)

A README file can be found [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/v4/readme.txt)

To run this script you will need to download the .dat and .inv files stored in the compressed files (ghncm.*.tar.gz) found [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/v4/)

In [1]:
import numpy as np
import pandas as pd
import glob
import ghcnm

### Name of original data file from GHCN-M
https://www1.ncdc.noaa.gov/pub/data/ghcn/v4/

In [2]:
data_fname   = glob.glob('ghcnm.v4*/*.dat')[0]
stn_md_fname = glob.glob('ghcnm.v4*/*.inv')[0]

print(data_fname)
print(stn_md_fname)

ghcnm.v4.0.1.20200205/ghcnm.tavg.v4.0.1.20200205.qfe.dat
ghcnm.v4.0.1.20200205/ghcnm.tavg.v4.0.1.20200205.qfe.inv

In [3]:
stn_md = ghcnm.get_stn_metadata(stn_md_fname)
stn_md

,station,lat,lon,elev,name,country
0,ACW00011604,57.7667,11.8667,18.0,SAVE,Antigua and Barbuda
1,AE000041196,25.3330,55.5170,34.0,SHARJAH_INTER_AIRP,United Arab Emirates
2,AEM00041184,25.6170,55.9330,31.0,RAS_AL_KHAIMAH_INTE,United Arab Emirates
3,AEM00041194,25.2550,55.3640,10.4,DUBAI_INTL,United Arab Emirates
4,AEM00041216,24.4300,54.4700,3.0,ABU_DHABI_BATEEN_AIR,United Arab Emirates
...,...,...,...,...,...,...
27428,ZIXLT371333,-17.8300,31.0200,1471.0,HARARE_BELVEDERE,Zimbabwe
27429,ZIXLT443557,-18.9800,32.4500,1018.0,GRAND_REEF,Zimbabwe
27430,ZIXLT622116,-19.4300,29.7500,1411.0,GWELO,Zimbabwe
27431,NaN,NaN,NaN,NaN,NaN,Palmyra Atoll [United States]
27432,NaN,NaN,NaN,NaN,NaN,Saint Lucia

### Specify countries to extract data from

In [4]:
pd.unique(stn_md['country'])

array(['Antigua and Barbuda', 'United Arab Emirates', 'Afghanistan',
       'Algeria', 'Azerbaijan', 'Albania', 'Armenia', 'Angola',
       'American Samoa [United States]', 'Argentina', 'Australia',
       'Austria', 'Antarctica', 'Bahrain', 'Barbados', 'Botswana',
       'Bermuda [United Kingdom]', 'Belgium', 'Bahamas, The',
       'Bangladesh', 'Belize', 'Bosnia and Herzegovina', 'Bolivia',
       'Burma', 'Benin', 'Belarus', 'Solomon Islands', 'Brazil',
       'Bulgaria', 'Brunei', 'Burundi', 'Canada', 'Cambodia', 'Chad',
       'Sri Lanka', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'China',
       'Chile', 'Cayman Islands [United Kingdom]',
       'Cocos (Keeling) Islands [Australia]', 'Cameroon', 'Comoros',
       'Colombia', 'Northern Mariana Islands [United States]',
       'Costa Rica', 'Central African Republic', 'Cuba', 'Cape Verde',
       'Cook Islands [New Zealand]', 'Cyprus', 'Denmark', 'Dijibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'Ireland',
       'Equatorial Guinea', 'Estonia', 'Eritrea', 'El Salvador',
       'Ethiopia', 'Europa Island [France]', 'Czech Republic',
       'French Guiana [France]', 'Finland', 'Fiji',
       'Falkland Islands (Islas Malvinas) [United Kin',
       'Federated States of Micronesia', nan, 'French Polynesia',
       'France', 'French Southern and Antarctic Lands [France]',
       'Gambia, The', 'Gabon', 'Georgia', 'Ghana',
       'Gibraltar [United Kingdom]', 'Grenada', 'Guernsey',
       'Greenland [Denmark]', 'Germany', 'Guadeloupe [France]',
       'Guam [United States]', 'Greece', 'Guatemala', 'Guinea', 'Guyana',
       'Haiti', 'Hong Kong', 'Honduras', 'Croatia', 'Hungary', 'Iceland',
       'Indonesia', 'Isle of Man', 'India',
       'British Indian Ocean Territory [United Kingdo', 'Iran', 'Israel',
       'Italy', "Cote D'Ivoire", 'Iraq', 'Japan', 'Jersey', 'Jamaica',
       'Jan Mayen [Norway]', 'Jordan', 'Johnston Atoll [United States]',
       'Juan De Nova Island [France]', 'Kenya', 'Kyrgyzstan',
       'Korea, North', 'Kiribati', 'Korea, South',
       'Christmas Island [Australia]', 'Kuwait', 'Kazakhstan', 'Laos',
       'Lebanon', 'Latvia', 'Lithuania', 'Liberia', 'Slovakia',
       'Liechtenstein', 'Lesotho', 'Luxembourg', 'Libya', 'Madagascar',
       'Martinique [France]', 'Macau S.A.R', 'Moldova',
       'Mayotte [France]', 'Mongolia', 'Montserrat', 'Malawi',
       'Montenegro', 'Macedonia', 'Mali', 'Morocco', 'Mauritius',
       'Midway Islands [United States}', 'Mauritania', 'Malta', 'Oman',
       'Maldives', 'Mexico', 'Malaysia', 'Mozambique',
       'New Caledonia [France]', 'Niue [New Zealand]',
       'Norfolk Island [Australia]', 'Niger', 'Vanuatu', 'Nigeria',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'Suriname',
       'Netherlands Antilles [Netherlands]', 'Nicaragua', 'New Zealand',
       'Paraguay', 'Pitcairn Islands [United Kingdom]', 'Peru',
       'Pakistan', 'Poland', 'Panama', 'Portugal', 'Papua New Guinea',
       'Palau', 'Guinea-Bissau', 'Qatar', 'Reunion [France]', 'Serbia',
       'Marshall Islands', 'Romania', 'Philippines',
       'Puerto Rico [United States]', 'Russia', 'Rwanda', 'Saudi Arabia',
       'Saint Pierre and Miquelon [France]', 'Saint Kitts and Nevis',
       'Seychelles', 'South Africa', 'Senegal',
       'Saint Helena [United Kingdom]', 'Slovenia', 'Sierra Leone',
       'Singapore', 'Somalia', 'Spain', 'Sudan', 'Svalbard [Norway]',
       'Sweden', 'South Georgia and the South Sandwich Islands', 'Syria',
       'Switzerland', 'Trinidad and Tobago', 'Tromelin Island [France]',
       'Thailand', 'Tajikistan', 'Tokelau [New Zealand]', 'Tonga', 'Togo',
       'Sao Tome and Principe', 'Tunisia', 'Timor-Leste', 'Turkey',
       'Tuvalu', 'Taiwan', 'Turkmenistan', 'Tanzania', 'Uganda',
       'United Kingdom', 'Ukraine', 'United States', 'Burkina Faso',
       'Uruguay', 'Uzbekistan', 'Saint Vincent and the Grenadines',
       'Venezuela', 'Vietnam', 'Virgin Islands [United States]',
       'Namibia', 'Wallis and Futuna [France]', 'Western Sahara',
       'Wake Island [United States]', 'Samoa', 'Swaziland', 'Unknown',
       'Yemen', 'Zambia', 'Zimbabwe', 'Palmyra Atoll [United States]',
       'Saint Lucia'], dtype=object)

In [5]:
country_names = ['Jordan', 'Egypt']

my_stns = stn_md[stn_md['country'].isin(country_names).values]

my_stns

,station,lat,lon,elev,name,country
6808,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt
6809,EG000062414,23.9667,32.7831,200.0,ASSWAN,Egypt
6810,EG000062417,29.2000,25.3167,-15.0,SIWA,Egypt
6811,EG000062432,25.4831,29.0000,107.0,DAKHLA,Egypt
6812,EG000062463,27.1500,33.7167,16.0,HURGUADA,Egypt
6813,EG000624200,28.3331,28.9000,127.0,BAHARIA,Egypt
6814,EGE00147724,31.5500,25.1800,4.0,SALLOUM,Egypt
6815,EGE00147726,31.2800,32.2297,6.0,PORT_SAID,Egypt
6816,EGE00147727,30.0800,31.2900,30.0,CAIRO_ABBASSIA,Egypt
6817,EGE00147728,30.0500,31.2500,20.0,CAIRO_EZBEKIYA,Egypt
6818,EGE00147729,30.0300,31.2100,28.0,GIZA_CAIRO,Egypt
6819,EGE00147730,29.8600,31.3400,116.0,HELWAN_CAIRO,Egypt
6820,EGE00147732,30.6000,32.2297,10.0,ISMAILIA,Egypt
6821,EGE00147733,29.9300,32.5497,10.0,EL_SUEZ,Egypt
6822,EGM00062305,31.5670,25.1330,6.0,SALLUM_PLATEAU,Egypt
6823,EGM00062318,31.1840,29.9490,-1.8,ALEXANDRIA_INTL,Egypt
6824,EGM00062337,31.0730,33.8360,36.9,EL_ARISH_INTL,Egypt
6825,EGM00062366,30.1333,31.4000,64.0,CAIRO_A,Egypt
6826,EGM00062378,29.8670,31.3330,141.0,HELWAN,Egypt
6827,EGM00062387,28.0830,30.7330,40.0,MINYA,Egypt
6828,EGM00062393,27.1833,31.1000,23.0,ASYOUT,Egypt
6829,EGM00062403,26.2000,32.7500,96.0,SOUTH_OF_VALLEY_UNIVERSITY,Egypt
6830,EGM00062405,25.6667,32.7000,82.0,LUXOR,Egypt
6831,EGM00062423,27.0500,27.9830,78.0,FARAFRA,Egypt
6832,EGM00062435,25.4500,30.5330,73.0,KHARGA,Egypt
6833,EGM00062465,26.1330,34.2500,11.0,KOSSEIR,Egypt
6834,EGM00062476,23.1330,35.5830,21.0,SHALATIN,Egypt
6835,EGXLT089789,31.6000,26.0000,23.0,SIDI_BARANI,Egypt
6836,EGXLT208359,28.2300,33.6200,1.0,TOR,Egypt
6837,EGXLT333046,31.2000,29.9000,32.0,KOM_EL_NADURA,Egypt
6838,EGXLT417059,26.2000,32.7000,74.0,QENA,Egypt
6839,EGXLT807449,30.1000,31.6000,74.0,CAIROEGYPCAIR,Egypt
6840,EGXLT828513,29.2000,25.5000,14.0,SIWAEGYPSIWA,Egypt
9313,JOM00040250,32.5390,38.1950,685.8,H4,Jordan
9314,JOM00040255,32.5500,35.8500,616.0,IRBID,Jordan
9315,JOM00040260,32.1610,37.1490,676.7,PRINCE_HASAN,Jordan
9316,JOM00040265,32.3560,36.2590,682.8,KING_HUSSEIN,Jordan
9317,JOM00040270,31.9833,35.9833,766.0,AMMAN_AIRPORT,Jordan
9318,JOM00040272,31.7170,35.9830,722.0,QUEEN_ALIA_AIRPORT,Jordan
9319,JOM00040285,32.2167,35.6167,-224.0,DEIR_ALLA,Jordan
9320,JOM00040296,31.0330,35.4670,-350.0,GHOR_SAFI,Jordan
9321,JOM00040310,30.1670,35.7830,1069.0,MA'AN,Jordan
9322,JOM00040340,29.6333,35.0167,51.0,AQABA_AIRPORT,Jordan
9323,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan

### Extract data for specified stations into a Pandas DataFrame

In [6]:
df = ghcnm.get_data(data_fname, my_stns)

/Users/scott/Google Drive/PYTHON/get-station-data/ghcnm.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['year'] = (df_tmp['year'] * 100.) + m # (e.g., 1982 --> 198204)

In [7]:
df

,station,lat,lon,elev,name,country,date,tavg,dmflag,qcflag,dsflag
0,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt,196101,13.77,E,NaN,NaN
1,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt,196102,12.63,E,NaN,NaN
2,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt,196103,14.46,NaN,NaN,S
3,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt,196104,17.42,NaN,NaN,S
4,EG000062306,31.3331,27.2167,25.0,MERSA_MATRUH,Egypt,196105,21.56,NaN,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
26395,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan,201008,34.53,E,NaN,NaN
26396,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan,201009,32.09,E,NaN,NaN
26397,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan,201010,29,E,NaN,NaN
26398,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan,201011,24.44,E,NaN,NaN
26399,JOXLT787555,31.8500,35.4500,250.0,JERICHO,Jordan,201012,18.74,E,NaN,NaN

### Save to file

In [8]:
df.to_csv('test_ghcnm.csv', index=False)